<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteTrello">
    <listeners>
        <listener class-name="singleton.WebDriverListener">    </listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Carlos Roa/Desktop/webdriver_java">
            <parameter name="browserName" value="chrome"/>
            <parameter name="modeHeadless" value="false"/>
        <classes>
            <class name="login.LoginTests">
                <methods>
                    <include name="testLogin"/>
                        <parameter name="username" value="carlos.roa@pyxis.tech"/>
                        <parameter name="password" value="Pyxis*2023..................."/>
                </methods>
            </class>
            <class name="board.BoardTests">
                <methods>
                    <include name="testCreateBoard"/>
                        <parameter name="titleBoard" value="BoardDemo2023_Sept"/>
                </methods>
            </class>
            <class name="list.ListTests">
                <methods>
                    <include name="testCreateList"/>
                    <parameter name="nameList" value="Backlog"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
